name: testing

on: [push, pull_request]

jobs:
  pytest:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
        os: [ubuntu-22.04, macos-latest]
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          activate-environment: meteor-test
          
      - name: Install bioinformatics tools with conda
        run: |
          conda install -c bioconda -c conda-forge bowtie2 freebayes
          
      - name: Install poetry
        uses: abatilo/actions-poetry@v2
        
      - name: Install the project dependencies
        run: conda run -n meteor-test poetry install --only test
        
      - name: Run the automated tests
        run: conda run -n meteor-test poetry run pytest --deselect meteor/tests/test_variantcalling.py::test_execute --deselect meteor/tests/test_strain.py::test_execute --log-level=DEBUG --cache-clear -s -vv --cov=meteor --cov-report xml
        timeout-minutes: 15
        
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: metagenopolis/meteor