name: testing

on: [push, pull_request]

jobs:
  pytest:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
        os: [ubuntu-22.04, macos-latest]
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up conda with recipe file
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          environment-file: conda_recipe/environment.yml
          activate-environment: meteor-test
          
      - name: Install additional bioinformatics tools
        shell: bash -l {0}
        run: conda install -c bioconda -c conda-forge bowtie2 freebayes -y
          
      - name: Install poetry
        shell: bash -l {0}
        run: pip install poetry
          
      - name: Install project dependencies
        shell: bash -l {0}
        run: poetry install --only test
          
      - name: Run tests
        shell: bash -l {0}
        run: poetry run pytest --deselect meteor/tests/test_variantcalling.py::test_execute --deselect meteor/tests/test_strain.py::test_execute --log-level=DEBUG --cache-clear -s -vv --cov=meteor --cov-report xml
        timeout-minutes: 15